body{
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    position : fixed;
    top: 0;
    left:0;
    background-color: #9cbc8f;
    width: 100%;
    /*height: 10%;*/
    z-index: 1;
}

h2 {
    color:#427a51;
    padding-left: 30%;
}

/*Menu de gauche*/


#cote {
    background-color: #d3e8cb;
    position: fixed;
    left:0;
    height: 100%;
    width: 15%;
    z-index: 0;
    float:left;
    overflow:hidden;
}

#ul_side{
    list-style-image: url('../img/puce.png');
    list-style-position: inside;
    left:0;
    padding: 0;
    margin-left: 0;
    margin-top: 200px;
    list-style-type: none;
    width: 100%;
    background-color: #d3e8cb;
    float:left;
    
}

#ul_side li a {
    color: #427a51;
    padding: 12px 16px;
    text-decoration: none;
}

#bouton_accueil {
    margin-bottom: 30px;
}
#bouton_contact {
    margin-top: 30px;
}

/*Menu du haut*/

#ul_top {
    list-style-type: none;
    margin:0;
    padding-left:3%;
    display: flex;
    flex-direction: row;
    /*display:block;
    float: left;*/
    overflow: hidden;
    background-color: #9cbc8f;
    
}

#ul_top li{
    /*display: inline;
    float:left;*/
    display: flex;
    height: 100px;
}

#ul_top li a {
    color: white;
    text-align: center;
    padding: 36px 50px; /* à revoir avec des pourcentages, problème pas réglé*/
    text-decoration: none;
}

#ul_top li a:hover {
    background-color:#b2cda8;
} 

/*Partie centrale*/


#milieu {
    position:static;
    z-index: -1;
    float :left;
    width:85%;
    height:100%;
    padding-left:15%;/*chercher une meilleure solution pour les mettre cote à cote*/
    padding-top:7%;
    overflow:auto;
}

h1{
    text-align :center;
    padding:0;
}


img {
    float:left;
}




/*footer*/

footer {
    background-color: #b2cfa6;
    position:fixed;
    margin: 0;
    padding: 0;
    bottom:0;
    left:0;
    z-index: 1;
    width:100%;
    height:5%;
}

#bas {
    color:white;
    font-size: 12px;
    text-align: center;

}
table, td {
    margin: auto;
    margin-bottom: 5%;
    padding-left:10px;
    padding-right:10px;
    margin-top:3%;
    border: 1.5px solid #b2cfa6;
    border-collapse: collapse;
    text-align: center;
  }

table {
    width : 95%;
    position: inherit;
}

th{
    background-color: #b2cfa6;
}

#categorie_table{
    color:white;
}
    
#article{
    width: 200px;
	height:auto;
}

#article:hover{
    transform: scale(1.5);
    transition: transform 330ms ease-in-out;
    z-index: 4;
}

.quantité{
    width:20px;
}

.stock{
    display: none;
}
.panier{
 text-align: center;
}

#reste_stock{
    position : absolute;
    padding : auto;
    margin-left:35%;
    margin-bottom:2%;
}

#bouton{
    height : 10 px;   
}

